.side{
  height: 60px;
  width: 113px;
}
#top{
  background: #48a2df;
  width: 8.25%;
  height: 50px;

}
#topright{
  background:#ecf0f1;
  height: 50px;
  width: 91.75%;
}
.matter{
  margin-top: 15px;
}
.mattercolor{
color: #7f8c8d;
}
.sidebar{
  background:#585858;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #4b4b4b;
  border-bottom-width: 2px;
  /*border:1px solid #4b4b4b;*/
}
#profile{
  border-radius: 50%;
}
#box{
  margin-top:15px;
}
#main{
  height:70vh;
  border:1px solid #bdc3c7;
  margin-top: 10px
}

.vertical-line{
  width: 3px; /* Line width */
  background-color: #ecf0f1; /* Line color */
  height: 100%;
  float: left;
  margin-left: 90px
}
.linepic{
    margin-left: -28px;
    margin-top: 36px;
    border-radius: 50%;
    background-color: #3498db;
    color: beige;
}
.info{
  margin-left: -25px;
  background-color: #ecf0f1
}
