.side{
  height: 60px;
  width: 113px;
}
.top{
  background: #48a2df;
  width: 8.25%;
  height: 50px;

}
.topright{
  background:#ecf0f1;
  height: 50px;
  width: 91.75%;
  float: right;
}
.matter{
  margin-top: 15px;
}
.mattercolor{
color: #7f8c8d;
}
.sidebar{
  background:#585858;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #4b4b4b;
  border-bottom-width: 2px;
  /*border:1px solid #4b4b4b;*/
}
#profile{
  border-radius: 50%;
}
